<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="content/HomePage.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <!-- Logo goes here -->
        </div>
        <h1>User Profile</h1>
    </div>
    <div class="main">
        <!-- Main content goes here -->
        <div class="google-form">
            <!-- Google form embed code goes here -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9aYKvLXIKDf8pNLdpxDzUp-T2IBlGwrJXtgx1Vgaf2n3CEw/viewform?embedded=true" width="640" height="421" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
    <div class="footer">
        <!-- Footer content goes here -->
    </div>
</body>
</html>