<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="content/HomePage.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <!-- Logo goes here -->
        </div>
        <h1>User Profile</h1>
    </div>
    <div class="main">
        <button onclick="window.location.href='./PageOne.html';">Start</button>
    </div>
    <div class="footer">
        <!-- Footer content goes here -->
    </div>
</body>
</html>