<!DOCTYPE html>
<html>
<head>
    <title>Page One</title>
    <link rel="stylesheet" type="text/css" href="content/HomePage.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <!-- Logo goes here -->
        </div>
        <h1>Page One</h1>
    </div>
    <div class="main">
        <!-- Main content goes here -->
        <form action="/submit_page_1" method="post">
            <h2>Section Introduction</h2>
            <h3>Description</h3>
        <!-- Navigation Buttons -->
        <button type="button" onclick="history.back();">Back</button>
        <input type="submit" value="Next">
        </form>
    </div>
    <div class="footer">
        <!-- Footer content goes here -->
    </div>
</body>
</html>