<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/content/home-page.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <!-- Logo goes here -->
        </div>
        <h1>User Profile</h1>
    </div>
    <div class="main">
        <button onclick="window.location.href='/PageOneDigitalStrategy';">Start</button>
    </div>
    <div class="footer">
        <!-- Footer content goes here -->
    </div>
</body>
</html>