<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/content/home-page.css">
</head>
<body>
    <div class="home-container">
        <header>
            <h1>Welcome, {{ username }}!</h1>
        </header>
        <div class="main">
            <p>Press Start to begin your Digital Maturity Assessment journey</p>
            <button onclick="window.location.href='/PageOneDigitalStrategy';">Start</button>
        </div>
    </div>
</body>
</html>