<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>
    <link rel="stylesheet" type="text/css" href="/static/content/report-page.css">
    <script src="\static\FetchAssessmentHeader.js" type="module"></script>
    <script src="\static\FetchAssessmentFooter.js" type="module"></script>
</head>
<body>
    <div class = "main">
        <div id="header-placeholder"></div>
        <div class="container">
            <div class="title">Report Page Title</div>
            <div class="subtitle">Subtitle</div>
            <div class="breakdown">Assessment Breakdown</div>
        </div>

        <div class="container">
            <div class="title">Algorithm Score</div>
            <!-- Content for algorithm score -->
        </div>

        <div class="container">
            <div class="title">Page One Score</div>
            <div class="breakdown">Page One Breakdown</div>
        </div>

        <div class="container">
            <div class="title">Page Two Score</div>
            <div class="breakdown">Page Two Breakdown</div>
        </div>

        <div class="container">
            <div class="title">Page Three Score</div>
            <div class="breakdown">Page Three Breakdown</div>
        </div>

        <div class="container">
            <div class="title">Page Five Score</div>
            <div class="breakdown">Page Five Breakdown</div>
        </div>

        <div class="container">
            <div class="title">What the Company is Doing Well</div>
            <!-- Content for what the company is doing well -->
        </div>

        <div class="container">
            <div class="title">Solutions</div>
            <!-- Content for solutions -->
        </div>
    </div>
    <div id="footer-placeholder"></div>
</body>
</html>
