<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Page</title>
    <link rel="stylesheet" type="text/css" href="/static/content/report-page.css">
    <script src="\static\FetchAssessmentHeader.js" type="module"></script>
    <script src="\static\FetchAssessmentFooter.js" type="module"></script>
</head>
<body>
    <div class="main">
        <div id="header-placeholder"></div>
        <h1>Assessment Overview</h1>
        <div class="container">
            <div class="title">Report Summary</div>
            <div class="breakdown">
                <p><strong>Total Score:</strong> {{ total_score }}</p>
                <p><strong>Overall Feedback:</strong> {{ overall_feedback }}</p>
            </div>
        </div>

        <div class="container">
            <div class="title">Section Feedback</div>
            <ul>
                {% for section, feedback in section_feedback.items() %}
                    <li><strong>{{ section }}:</strong> {{ feedback }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="container">
            <div class="title">Sections that require the most attention</div>
            <ul>
                 {% for knn in knn_sections %}
                    <li><strong>{{ knn.section }}</strong>: Distance from median - {{ knn.distance }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Section 1: Digital Strategy Score and Solutions -->
        <div class="container">
            <div class="title">Digital Strategy</div>
            <p><strong>Score:</strong> {{ user_scores["Digital Strategy"] }}</p>
        
            <div class="solutions">
                <strong>Solutions for Digital Strategy:</strong>
                <ul>
                    {% for question, solution in recommended_solutions.items() %}
                    {% if question >= 1 and question <= 10 %}
                        <li><strong>Question {{ question }}:</strong></li>
                        <li><strong>{{ '\n'.join(solution) }}</strong></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>   
        <!-- Section 2: Digital Skills -->
        <div class="container">
            <div class="title">Digital Skills</div>
            <p><strong>Score:</strong> {{ user_scores["Digital Skills"] }}</p>
            <div class="solutions">
                <strong>Solutions for Digital Skills:</strong>
                <ul>
                    {% for question, solution in recommended_solutions.items() %}
                    {% if question >= 11 and question <= 20 %}
                        <li><strong>Question {{ question }}:</strong></li>
                        <li><strong>{{ '\n'.join(solution) }}</strong></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>  
        <!-- Section 3: Technology Adoption -->
        <div class="container">
            <div class="title">Technology Adoption</div>
            <p><strong>Score:</strong> {{ user_scores["Technology Adoption"] }}</p>
            <div class="solutions">
                <strong>Solutions for Technology Adoption:</strong>
                <ul>
                    {% for question, solution in recommended_solutions.items() %}
                    {% if question >= 21 and question <= 30 %}
                        <li><strong>Question {{ question }}:</strong></li>
                        <li><strong>{{ '\n'.join(solution) }}</strong></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>   
        <!-- Section 4: Market Trends -->
        <div class="container">
            <div class="title">Market Trends</div>
            <p><strong>Score:</strong> {{ user_scores["Market Trends"] }}</p>
            <div class="solutions">
                <strong>Solutions for Technology Adoption:</strong>
                <ul>
                    {% for question, solution in recommended_solutions.items() %}
                    {% if question >= 31 and question <= 40 %}
                        <li><strong>Question {{ question }}:</strong></li>
                        <li><strong>{{ '\n'.join(solution) }}</strong></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>   
        <!-- Section 5: Digital Marketing -->
        <div class="container">
            <div class="title">Digital Marketing</div>
            <p><strong>Score:</strong> {{ user_scores["Digital Marketing"] }}</p>
            <div class="solutions">
                <strong>Solutions for Digital Marketing:</strong>
                <ul>
                    {% for question, solution in recommended_solutions.items() %}
                    {% if question >= 41 and question <= 50 %}
                        <li><strong>Question {{ question }}:</strong></li>
                        <li><strong>{{ '\n'.join(solution) }}</strong></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div id="footer-placeholder"></div>
    </div>
</body>
</html>